<%# display information we have about a reserve, modulo the editable stuff %>
<% if reserve.author %>
   <span class="author"><%= reserve.author %></span>
 <% else %>
    <span class="author"></span>
<% end %>
<span class="sort_title"><%= reserve.sort_title %></span>
<span class="title">&quot;<%= reserve.title.strip %>&quot;</span>
<% if params[:brief].to_s != "true" %>
in <%= reserve.journal_title %>
<%= reserve.journal_info %>
<% if reserve.issn %>ISSN: <%= reserve.issn %><% end %>
<% end %>
