<%# display information we have about a reserve, modulo the editable stuff %>

<% if reserve.chapter? %>
   <%= render partial: 'reserves/chapter_auth_title', locals: {:reserve => reserve, :full => full} %>
<% else %>
    <span class="author"><% if reserve.author %><%= reserve.author %><% elsif reserve.editor %><%= reserve.editor %>, [ed.]<% end %></span>
   <span class="sort_title"><%= reserve.sort_title %> </span>
   <span class="title"><%= reserve.title %><% if !reserve.title.ends_with?('.') %>.<% end %></span>
   <% if reserve.editor && !reserve.author.blank? %>
    <span class="editor"><%= reserve.editor %> [ed.]</span>
   <% end %>
<% if full %>
   <%= reserve.non_journal_info %>
<% end %>
<% end %>
