<%# simple presentation of a single reserve  statuses, editability  %>
<% if params[:viewonly].to_s != "true" %>
<span class="visibility"><%= reserve.visibility == "R" ? "Not Visibile" : "Visible" %></span>
<% end %>
<span class="status<%='-complete' if reserve.status=='COMPLETE'%> ">(<%= reserve.display_status %>)
<%= icon('check') if reserve.display_status=='Available'%> 
</span>
<% if !reserve.lecture_date.blank? || reserve.student_annotation %>
<br/>
<% if !reserve.lecture_date.blank? %>
Lecture Date: <span class="lec_date"><%= reserve.lecture_date %></span>
<span class="sortdate"><%= (Time.parse(reserve.lecture_date).to_i/86401) %></span>
<% else %>
<span class="sortdate"></span>
<% end %>
<% if reserve.student_annotation %><span class="note"><%= reserve.student_annotation %></span><% end %>


<% end %>
