<%# simple presentation of a single reserve  statuses, editability  %>
<% if params[:viewonly].to_s != "true" %>
<span class="visibility"><%= reserve.visibility == "R" ? "Not Visible" : "Visible" %></span>
<% end %>
<% cl = "status"
   stat = reserve.display_status
   if params[:viewonly].to_s == "true" && stat == "Reuse"
      stat = "Available Soon"
   end
   if stat == "Available" 
      cl = cl + "-available"
   elsif stat == "Available Soon"
      cl = cl + "-soon"
   end
%>
<span class="<%= cl %>"><%= stat %></span>
<% if reserve.required == "Y" %>
<span class="status-required" >required</span>
<% end %>
<% if !reserve.lecture_date.blank? || reserve.student_annotation %>
<br/>
<% if !reserve.lecture_date.blank? %>
Lecture Date: <span class="lec_date"><%= reserve.lecture_date %></span>
<span class="sortdate"><%= (Time.parse(reserve.lecture_date).to_i/86401) %></span>
<% else %>
<span class="sortdate"></span>
<% end %>
<% if reserve.student_annotation %><span class="note"><%= reserve.student_annotation %></span><% end %>


<% end %>
