<%# simple presentation of a single reserve request  %>
<% if reserve.journal? %>
  <%= render partial: 'reserves/display_journal', locals: {:reserve => reserve, :full => full} %>
<% else %>
  <%= render partial: 'reserves/display_non_journal', locals: {:reserve => reserve, :full => full} %>
<% end %>

<% if reserve.dig_url %>
 <span class="urlLink btn-link">
<a href="<%= reserve.dig_url %>" target="dig_link" class="dig_link" title="Read <%= reserve.title %> online">View Online</a> <%= icon('external-link')%></span> 
<% elsif !reserve.aleph_url.blank? %>
<span class="urlLink btn-link">
<a href="<%= reserve.aleph_url %>" target="dig_link" class="dig_link" 
title="Find out availability of this reserve">HOLLIS link</a> <%= icon('external-link')%></span>
<% end %>



