<%# simple presentation of a single reserve request  %>
<% if reserve.journal? %>
  <%= render partial: 'reserves/display_journal', locals: {:reserve => reserve} %>
<% else %>
  <%= render partial: 'reserves/display_non_journal', locals: {:reserve => reserve} %>
<% end %>

<% if reserve.dig_url %>
 <span class="urlLink btn-link">
<a href="<%= reserve.dig_url %>" target="dig_link" class="dig_link" title="Read <%= reserve.title %> online">digital link</a> <%= icon('external-link')%></span> 
<% end %>
<-- <%= reserve.student_annotation %> -->
<% if reserve.student_annotation %><br/><span class="note"><%= reserve.student_annotation %></span><% end %>

