<%# simple presentation of a single reserve request with publish, edit delete %>
<%= check_box_tag("reserve_ids[]", reserve.citation_request_id, false, {:id => "reserve_ids__#{reserve.citation_request_id}", :class => "delete", :title => "Remove #{reserve.title}"}) %>

<span class="author"><%= reserve.author %></span> 
<span class="title"><%= reserve.title %>.</span>
<% if reserve.dig_url %>
 <span class="urlLink btn-link">
<a href="<%= reserve.dig_url %>" target="dig_link" class="dig_link">digital link</a> <%= icon('external-link')%></span> 
<% end %>


<span class="visibility"><%= reserve.visibility == "R" ? "Not Visibile" : "Visible" %></span>
<span class="status<%='-complete' if reserve.status=='COMPLETE'%> ">(<%= reserve.display_status %>)
<%= icon('check') if reserve.status=='COMPLETE'%> 
</span>
<span class="edit float-right btn-icon-only" title="edit"><a href="reserves/edit/<%= reserve.citation_request_id %>" class="edit_link float-right"><%= icon('pencil') %> </a></span> 
