<%# create a new citation request %>
<%# BOOK FIELDS THAT CAN BE EDITED 
    Estimated Number of Enrolled Students: 
    Lecture/Class Date: 
    Student View Display: 
    Required Reading: 
Either HOLLIS number OR Title is required
HOLLIS System Number:
Autocomplete
Title or Description:
    Author Last Name: Author First Name:
    Editor Last Name: Editor First Name:
    Publisher: Year of Publication:
    Author (of chapter or excerpt) Last Name: Author (of chapter or excerpt) First Name:
Chapter Title:
    Page Numbers: Volume:
    Edition: ISBN:
Note to Reserves Staff:
Note to Students:
%>
<%# NON-BOOK FIELDS THAT CAN BE EDITED 
    Estimated Number of Enrolled Students: 
    Lecture/Class Date: 
    Student View Display: 
    Required Reading: 
Either HOLLIS number OR Title is required
HOLLIS System Number:
Autocomplete
Title or Description:
    Author Last Name: Author First Name:
    Editor Last Name: Editor First Name:
    Publisher: Year of Publication:
    Author (of chapter or excerpt) Last Name: Author (of chapter or excerpt) First Name:
Chapter Title:
    Page Numbers: Volume:
    Edition: ISBN:
Note to Reserves Staff:
Note to Students:
%>
<ol class="breadcrumb">
<li><a href="https://canvas.harvard.edu"><%= icon('home') %></a></li>
<li> <a href="/courses/<%= @reserve.instance_id %>/edit" class="link-icon" title="back to list">Manage Course Reserves</a></li>
<li class="active">New Reserve Request</li>
</ol>


<div class="row row-lti lti-section">
<%= simple_form_for @reserve, url: reserves_path, as: 'reserve',  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    boolean: :horizontal_boolean
  } do |f| %>
<%= f.error_notification %>
<input type="hidden" value="<%= @course_id %>" name="course_id" id="course_id"/>
<%= f.input :contact_instructor_id, as: :hidden %>
<%# Library Code needs to be individually coded because Simple_form doesn't handle errors in a select field properly :-( %>
<div class="form-group string required reserve_library_code<% if !@reserve.errors[:library_code].empty? %> has-error<% end %>">
<label class="string required col-sm-3 control-label" for="reserve_library_code"><abbr title="required">*</abbr> Library</label><div class="col-sm-9"><select class="select required form-control" name="reserve[library_code]" id="reserve_library_code">
    <option value=""></option>
    <% @libs.each do |k,v|  %>
<option value="<%= v %>" <% if v == @reserve.library_code %>selected="selected"<% end  %> ><%= k %></option>
	<% end %>
</select>
<% if !@reserve.errors[:library_code].empty? %><span class="help-block"><%=  @reserve.errors[:library_code][0].to_s %></span><% end %>
<p class="help-block">Select the Library that supports your course</p>
</div>
</div>
<%# end of Library Code %>

<%= f.input :input_material_type, :collection => Reserve::material_types, :label => "Material Type", required: true, hint: " " %>

<%= f.input :input_hollis_system_number, label: 'HOLLIS Number', wrapper_html: { class: 'auto auto_nj'}, input_html: {maxlength: '30'} %>
<%= f.input :input_doi, label: 'DOI (Digital Object Identifier)/PUBMED ID', wrapper_html: { class: 'auto auto_j'}, input_html: {maxlength: '1032'} %>


<%= render partial: 'common_inputs',  locals: { reserve: @reserve, f: f} %>


<%= f.input :instructor_note, as: :text, placeholder: 'This is seen by the Reserve Librarian Staff', label: 'Note to Reserve Staff', required: false %>

<div id="switchable">
<% Reserve::NEW_FIELDS.each do |field|
   if field["name"] != "hollis_system_number" && field["name"] != "doi"
     wClass = 'both'
     if field["journal"]
       wClass = 'journal'
     elsif !field["journal"].nil?
      wClass = 'nonjournal'
     end
     if !field["maxlength"].nil?
      ml = field["maxlength"]
     else
      ml = "2048"
     end
 %>
<%= f.input "input_#{field['name']}".to_sym, label: field["label"], wrapper_html: {class: wClass}, required: field["required"], input_html: {maxlength: ml} %>
<% end %>
<% end %>
</div>
<%= f.button :submit, class: "btn btn-submit", id: "submit_create" %>
<% end %>
</div>

