<h3><a href="/courses/<%= @course_id %>/<%= (params[:viewonly].to_s == "true")?"" : "edit" %>" class="link-icon" title="back to Course">Reserves List</a> <span><%= icon('chevron-right') %></span> Reserve Request</h3>
<div>

<%= render  'reserves/simple_reserve', :reserve => @reserve, :full => true %>
<%= render partial: 'reserves/reserve_status', locals: {:reserve => @reserve } %>
<% if !@reserve.aleph_url.blank? %>
 <span class="urlLink btn-link"><a href="<%= @reserve.aleph_url %>" target="aleph_link" title="Link to HOLLIS Classic record">Hollis Link</a><%= icon('external-link')%>
</span>
<% end %>
</div>
<div class="library">

<% if params[:viewonly].to_s == "true" %>
 <span class="urlLink btn-link">
 <a href="http://library.harvard.edu/<%= @reserve.library.library_code.downcase %>" target="library_link" title="Library page">  <%= @reserve.library.name %></a><%= icon('external-link')%>
</span>
<% else %>
<% if @reserve.library.support_url %>
 <span class="urlLink btn-link">
<a href="<%=  @reserve.library.support_url %>" target="library_link" title="Library support page"><%= @reserve.library.name %></a><%= icon('external-link')%>
</span>
<% else %>
<%= @reserve.library.name %>
<% end %>
<% end %>
</div>
<% if params[:viewonly].to_s != "true" %>
<hr/>
<p><big>Original <%= @reserve.input_citation_type %> request</big></p>


<dl class="dl-horizontal">


<% Reserve::NEW_FIELDS.each do |f| %>
<% inp = "input_#{f['name']}".to_sym
   next if @reserve.input_citation_type == "NON_JOURNAL" && !f["journal"].blank? && f["journal"]
   next if @reserve.input_citation_type == "JOURNAL" && (f["journal"].blank? || !f["journal"])
   value = @reserve.send(inp)
   if (value) %>
<dt><%= f["label"] %>:</dt> <dd><%= value %></dd>
  <% end %>
<% end %>
<dt>Note to Reserves</dt>
<dd>
<%= @reserve.instructor_note || "(none)" %> 
</dd>
</dl>

<% if !@history.blank? %>
<hr/>
<div class="table-responsive">
<table class="table table-hover table-condensed">
<caption><big><bold>Request History</bold></big></caption>
<thead>
<tr><th>Date</th><th>Status</th><th>Note</th></tr>
</thead>
<tbody>
<% @history.each do |h| %>
<tr><th><%= Time.parse(h["date"]).strftime "%d %B %Y %H:%M" %></th>
<th><%= h["status"] %></th>
<th><%= h["note"] %></th>
</tr>
<% end %>
</tbody>
</table>
</div>
<% end %>
<% end %>
