<%# simple presentation of a single reserve request with publish, edit delete %>
<%= reserve.author %> <%= reserve.title %>.
<span class="status">(<%= reserve.status %>)</span>
 <span class="urlLink"><%= reserve.dig_url %></span> <span class="edit" title="edit">link to edit <%= reserve.citation_request_id %></span> <span class="delete" title="delete">x</delete>
