
<% if @reserves %>
<h4>Number of reserves: <%= @reserves.count %></h4>
<h4>Manage Reserves List <div class="float-right">
<a class="link-icon"  href="/courses/<%= params[:id] %>/?viewonly=true">View as Student</a></div></h4>
<div id="newOrReuse" class="float-right"><a href="<%= new_reserve_path  %>?course_id=<%= params[:id] %>" class="link-icon" title="Add New Reserve"><%= icon('plus-circle') %> Add New Reserve</a>
<% if !@others.blank? %>
  <form name="prev_select_form" id="prev_select_form" >
    <label for="prev_select">Re-use reserves from: </label>
    <select id="prev_select"><option value="">Select a previous term</option>
      <% @others.each do |ci| %>
    <option value="<%=ci.id %>"><%= ci.term %></option>
    <% end %>
    </select>
  </form>

<script>reuseSetup()</script>
<% end %><%# END OF PREVIOUS TERMS %>
</div>
<%= form_tag({controller: "courses", action: "reorder"}, method: "post", class: "reserves-list reorder", id: "form_reorder") do %>
<%= hidden_field_tag("id", params[:id]) %>
<input type="hidden" name="sort_order" id="sort_order" />
</span>

<% end %>

<%= form_tag({controller: "courses", action: "delete"}, method: "post", class: "reserves-list", id: "form_del") do %>
<%= hidden_field_tag("id", params[:id]) %>
<ul class="list-with-floats">
<li class="head">

<span class="delete" title="Remove selected reserve(s)"><input name="reorder"
value="Remove selected reserve(s)" class="btn btn-disabled chks_submit_del_submit submit_btn" id="del_btn" type="button"></span>

<span class="reorder" title="Commit reordering"><input name="reorder"
value="Save new Reserves order" class="btn btn-disabled reorder_submit submit_btn" id="reorder_btn" type="button"></span>
<span class="refresh" title="Restore original order"><input name="restore"
value="Restore original order" class="btn btn-disabled restore_submit" id="restore_btn"
type="button"></span>
</li>

<li class="selDel">
<button type="button" class="btn btn-default btn-xs" id="select_all_del">Select all Reserves</button>
<button type="button" class="btn btn-default btn-xs disabled" id="deselect_all_del">Clear selections</button>

</li>

</ul>
<ul class="list-with-floats chk_grp" id="ids_del">
<% @reserves.each do |reserve| %>
<li id="<%= reserve.citation_request_id %>">
<% if !reserve.display_status.starts_with?("Delet") %>
<%= check_box_tag("res_ids[]", reserve.citation_request_id, false, {:id => "res_ids__#{reserve.citation_request_id}", :class => "chk_del", :title => "Select #{reserve.tip_title}"}) %>
<% end %>
<%= render partial: 'reserves/edit_icon', locals: {:reserve => reserve} %>
<span class="view " title="View  <%= reserve.tip_title %>"><a href="<%= reserve_path reserve%>?layout=true" class="view_link"><%= icon('info-circle') %></span>

<span class="nomove">
<%= render partial: 'reserves/simple_reserve', locals: {:reserve => reserve, :full => false} %>
<%= render partial: 'reserves/reserve_status', locals: {:reserve => reserve} %>
</span> 

</li>
<% end %>
</ul>
<% end %>
<script>checkBoxSetup("del")</script>
<% end %>
<div id="reuse_list" class="previous"></div>


