
<% if @reserves %>

<h3>Number of readings: <%= @reserves.count %></h3>
<div id="reserves-list">
<% if @reserves.count > 2 %>
<input class="search" placeholder="Search" />
<div class="btn-group float-right">
        <button class="sort btn btn-default" data-sort="sort_title">
              Sort by title
            </button>
            <button class="sort btn btn-default" data-sort="author">
              Sort by author
            </button>
	     <button class="sort btn btn-default" data-sort="order">
              Sort by instructor order
            </button>
<!--	    <button class="sort btn btn-default" data-sort="sortdate">
              Sort by lecture date
            </button>
-->
</div>
<% end %>
<ul class="list-with-floats" id="reserves_ids">
<% @reserves.each do |reserve| %>
<li id="r_<%= reserve.citation_request_id %>">

<span class="view float-left" title="View  <%= reserve.tip_title %>"><a href="<%= reserve_path reserve%>?layout=true&viewonly=true" class="view_link float-left">&#128083;</span>

<div>
<span class="order"><%= (reserve.instructor_sort_order || '') %></span>
<%= render partial: 'reserves/simple_reserve', locals: {:reserve => reserve} %>
<%= render partial: 'reserves/reserve_status', locals: {:reserve => reserve} %>
</div> 

</li>
<% end %>
</ul>
</div>
<% end %>
<!-- script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script -->
<script type="text/javascript">

    var options = {
     valueNames: [ 'sort_title' ,'order','author'],
     listClass: 'list-with-floats'
    };

    var rList = new List('reserves-list', options);
  </script>


