
<% if @reserves %>
<h3>Number of reserves: <%= @reserves.count %></h3>
<%= form_tag({controller: "courses", action: "reorder"}, method: "post", class: "reserves-list reorder", id: "form_reorder") do %>
<%= hidden_field_tag("id", params[:id]) %>
<input type="hidden" name="sort_order" id="sort_order" />
</span>

<% end %>

<%= form_tag({controller: "courses", action: "delete"}, method: "post", class: "reserves-list") do %>
<%= hidden_field_tag("id", params[:id]) %>
<ul class="list-with-floats">
<li class="head"><%= check_box_tag("select_all") %>
<%= label_tag("select_all", "Select all reserves") %> <span class="delete" title="Remove selected reserve(s)"><%=submit_tag(value="Remove selected reserve(s)", {:class => "btn btn-submit chks_submit", :id => "delete_btn", :disabled => "disabled"}) %></span> 
<span class="reorder" title="Commit reordering"><input name="reorder"
value="Save new Reserve order" class="btn btn-submit reorder_submit" id="reorder_btn" type="button"></span>
<span class="float-right"><a href="<%= new_reserve_path  %>?course_id=<%= params[:id] %>" class="link-icon" title="Add New Reserve"><%= icon('plus-circle') %> Add New Reserve</a></span>
</li>
</ul>
<ul class="list-with-floats chk_grp">
<% @reserves.each do |reserve| %>
<li id="<%= reserve.citation_request_id %>"><%= render partial: 'reserves/simple_reserve', locals: {reserve: reserve} %></li>
<% end %>
</ul>
<% end %>
<script>checkBoxSetup()</script>
<% end %>
