
<% if @reserves %>

<h3>Number of readings: <%= @reserves.count %></h3>
<div id="reserves-list">
<% if @reserves.count > 2 %>
<input class="search" placeholder="Search" />
<div class="btn-group float-right">
        <button class="sort btn btn-default" data-sort="sort_title">
              Sort by title
            </button>
            <button class="sort btn btn-default" data-sort="author">
              Sort by author
            </button>
	 <% if Course.list_has_ins_order?(@reserves) %>
	     <button class="sort btn btn-default" data-sort="order">
              Sort by instructor order
            </button>
         <% end %>
	 <% if Course.list_has_dates?(@reserves) %>
	    <button class="sort btn btn-default" data-sort="sortdate">
              Sort by lecture date
            </button>
	 <% end %>

</div>
<% end %>
<ul class="list-with-floats" id="reserves_ids">
<% @reserves.each do |reserve| %>
<li id="r_<%= reserve.citation_request_id %>">

<span class="view float-left" title="View full details"><a href="#cllps_<%= reserve.citation_request_id %>" class="view_link float-left" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="#cllps_<%= reserve.citation_request_id %>"><%= icon('info-circle') %></span>

<div>
<span class="order"><%= (reserve.instructor_sort_order || '') %></span>
<%= render partial: 'reserves/simple_reserve', locals: {:reserve => reserve, :full => false} %>
<%= render partial: 'reserves/reserve_status', locals: {:reserve => reserve} %>
<div class="collapse" id="cllps_<%= reserve.citation_request_id %>">
  <div class="well">
    <% if reserve.journal? %>
      <%= render partial: 'reserves/journal_collapse', locals: {:reserve => reserve} %>
   <% elsif  reserve.chapter? %>
   <%= render partial: 'reserves/chapter_collapse', locals: {:reserve => reserve} %>
   <% else %>
   <%= reserve.non_journal_info %>
<% end %>

  </div>
</div>
</div> 

</li>
<% end %>
</ul>
</div>
<% end %>
<!-- script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script -->
<script type="text/javascript">

    var options = {
     valueNames: [ 'sort_title' ,'order','author', 'sortdate'],
     listClass: 'list-with-floats'
    };

    var rList = new List('reserves-list', options);
  </script>


