<body class="lti-tool">
<div id="content-wrapper" class="container-fluid" role="main">
<h1>Reserves List</h1>
<% if flash[:notice] %>
<div class="infoBlock-success"> <%= flash[:notice] %></div>
<% end %>
<h2>Number of reserves: <%= @reserves.count %></h2>
<%= form_tag({controller: "courses", action: "delete"}, method: "post", class: "reserves-list") do %>
<%= hidden_field_tag("id", params[:id]) %>
<ul class="list-with-floats">
<li><%= check_box_tag("select_all") %>
<%= label_tag("select_all", "Select all reserves") %> <span class="delete float-right" title="Remove selected reserve(s)"><%=submit_tag(value="Remove selected reserve(s)") %></span>
</li>
<% @reserves.each do |reserve| %>
<li><%= render 'reserves/simple_reserve', :reserve => reserve %></li>
<% end %>
</ul>
<% end %>
</div>
</body>

