<!DOCTYPE html>
<html>
<head>
  <title>LTI Reserves Tool</title>
  <link type="image/vnd.microsoft.icon" href="//guidelines.hwp.harvard.edu/profiles/openscholar/themes/hwpi_classic/favicon.ico" rel="shortcut icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="lti-tool">
<h1>Reserves List</h1>
<div id="content-wrapper" class="container-fluid" role="main">
  <%= render :partial => 'shared/messages' %>
  <%= yield %>
</div>
</body>
</html>
