<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LTI Reserves Tool <% if  !(@instance ||= nil).nil? %>
    : <%= @instance.title %>
    <% end %>
</title>
  <link type="image/vnd.microsoft.icon" href="//guidelines.hwp.harvard.edu/profiles/openscholar/themes/hwpi_classic/favicon.ico" rel="shortcut icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="lti-tool <%= "c_#{controller.controller_name} a_#{controller.action_name}" %> ">
  <% if controller.controller_name == "courses" && controller.action_name == "edit" %>
    <%= render :partial => 'shared/confirm_box', locals: {:m_id => "conf_del", :m_title_id => "confirm_del", :m_title => "Remove Reserves", :m_body => "Do you want to remove the selected Reserves from this list?", :m_action_id => "confirmed_del", :m_action_label => "Remove", :m_noaction => "Cancel"} %>
  <% end %>

  <div class="container">

    <div class="row lti-header">


      <h1>Reserves List</h1>
	 <% if  !(@instance ||= nil).nil? %>

    <h2>       <%= @instance.title %> (<%= @instance.term %>)</h2>
    <% end %>
      <%= render :partial => 'shared/messages' %>
    </div>
    <div id="content-wrapper" class="row row-lti col-md-8">

      <%= yield %>
    </div>
</div>
</body>
</html>
