<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LTI Course Reserves Tool <% if  !(@instance ||= nil).nil? %>
    : <%= @instance.title %>
    <% end %>
</title>
  <link type="image/vnd.microsoft.icon" href="//guidelines.hwp.harvard.edu/profiles/openscholar/themes/hwpi_classic/favicon.ico" rel="shortcut icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="lti-tool <%= "c_#{controller.controller_name} a_#{controller.action_name}" %> ">
  <% if controller.controller_name == "courses" && controller.action_name == "edit" %>
     <%= render :partial => 'shared/confirm_box', locals: {:m_id => "conf_del", :m_title_id => "confirm_del", 
        :m_title => "Remove Reserves", :m_body => "Do you want to remove the selected Reserve(s) from this list?", 
     :m_action_id => "confirmed_del", :m_action_label => "Remove", :m_noaction => "Cancel"} %>
     <%= render :partial => 'shared/confirm_box', locals: {:m_id => "conf_reord", :m_title_id => "confirm_reord",
        :m_title => "Reorder Reserves", :m_body => "Do you want to save this new order for this list?",
        :m_action_id => "confirmed_reord", :m_action_label => "Save", :m_noaction => "Cancel"} %>
  <% end %>
 <% if controller.action_name = "edit" || (controller.controller_name = "reserves" && controller.action_name = "new") %>
      <%= render :partial => 'shared/confirm_box', locals: {:m_id => "conf_leave", :m_title_id => "confirm_leave",
        :m_title => "Unsaved Changes", :m_body => "Your changes have not been saved. Do you want to leave the page with unsaved changes?",
        :m_action_id => "confirmed_leave", :m_action_label => "Leave the page", :m_noaction => "Stay on Page"} %>
 <% end %>
  <div class="container">
    <div class="row lti-header">
      <h1>Course Reserves  <% if can_edit?(current_user, params[:id]) %><span class="float-right"><a class="smaller_link"  href="http://nrs.harvard.edu/urn-3:HUL.OIS:reserves-contacts" target="lib_contacts" title="Get help with your reserves questions">Library Reserves Contacts</a> <%= icon('external-link')%></span><% end %></h1>
	 <% if  !(@instance ||= nil).nil? %>

    <h2>       <%= @instance.title %> (<%= @instance.term %>)</h2>
    <% end %>
      <%= render :partial => 'shared/messages' %>
    </div>
    <div id="content-wrapper" class="row row-lti col-md-8">

      <%= yield %>
    </div>
</div>
</body>
</html>
